@media screen and (min-width:1219px){
    header {
        align-items: center;
        background-color: #009485;
        height: 48px;
    }
    
    .navbar--title {
        font-weight: 700;
    }
    
    .navbar--topcontent {
        width: 1220px;
    }
}