#active {
    color: white;
}

div.navbar {
    background-color: #009485;
}

.navtitle {
    font-family: "Roboto Medium";
    display :inline-block;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 32px;
}

.nav {
    display: flex;
    padding-left: 16px;
}

.navitem {
    font-family: "Roboto Light";
    font-size: 16px;
    color: #b2dfda;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 16px;
    transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -o-transition: color 0.25s;
}


.dropdownmenu {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdownbutton {
    background-color: #009485;
    width: 120px;
    border: none;
}

.dropdownmenu #content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdownmenu #content a {
    color: black;
    padding: 7px;
    text-decoration: none;
    display: block;
}

.dropdownmenu:hover #content {
    display: block;
}

.dropdownmenu #content a:hover {
    background-color: #ddd;
}

.navitem:hover, .dropdownbutton:hover {
    color: white;
}