/* import the fonts */
@font-face {
    font-family: "Roboto Light";
    src: url("Roboto-Light.ttf");
    font-family: "Roboto Medium";
    src: url("Roboto-Medium.ttf");
}

* {
    font-family: "Roboto Light";
}

body {
    margin: 0;
    background-color: white;
}