div.navbar {
    background-color: #dddddd;
    font-size: 10px;
}

div.topbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

div.lowbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div.lowbar li {
    display: inline;
    float: left;
}

div.lowbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.lowbar li a:hover {
    background-color: #111;
}

div.lowbar .active {
    background-color: #04AA6D;
}